.priority1 {
    color: red;
}
.priority2 {
    color: green;
}
.priority3 {
    color: blue;
}

.error {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
    font-weight: bold;
}